body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
h1{
    color: #66FCF1;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    color: #66FCF1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.d1 {
    background-color: #2a2a2a;
    width: 250px;                 /* Fixed width for sidebar */
    height: 100vh;                /* Full screen height */
    /* border: solid 1px rgb(0, 0, 0); */
    padding: 10px;
}

.d2 {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    flex: 1;                      /* Take remaining space */
    padding: 10px;
    /* margin: 10px; */
    /* border: solid 1px rgb(0, 0, 0); */
}
.d2-1{
    flex:1;
    margin: 2px;
    padding: 6px;
    /* border: solid 1px rgb(0, 0, 0); */
}
.d2-2{
    flex:1;
    margin: 2px;
    margin-bottom: 10px;
    padding: 6px;
    /* border: solid 1px rgb(0, 0, 0); */
}
.d2-3{
    flex:6;
    max-height: 400px;
    overflow-y: auto;
    margin: 2px;
    /* border: solid 1px rgb(0, 0, 0); */
}
.inp{
    width: 40%;
    padding: 6px;
    margin-top: 10px;
}
.table {
    background-color: #4CAF50;   
    color: #333;                 
}
.table th {
    color: white;
}
.table td {
    background-color: #f9f9f9;
}
.d1total{
    position: absolute;
    bottom: 0px;
}
p{
    color:aliceblue;
    text-align: center;
}