body {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


h1 {
    position: relative;
    left: 30px;
    color: #66FCF1;
    font-size: 60px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2 {
    color: #66FCF1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

li {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.6;
}
p{
    position: relative;
    color: #66FCF1;
    font-size: 18px;
    text-align: center;
}

li {
    list-style-type: disc;
}

a {
    color: #ff0000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.d1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.d1in1 {
    flex: 2;
    border-radius: 15px;
    color: #fff;
}

.d1in2 {
    flex: 1;
    margin-left: 10px;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
}

.d2 {
    flex: 1;
    margin-top: 0px;
    border-radius: 15px;
    color: #fff;
}

.d3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.d3in1 {
    flex: 2;
    margin: 10px;
    padding: 20px;
    background: linear-gradient(to bottom right, #2a2a2a, #1F1F1F);
    border-radius: 15px;
    color: #fff;
}

.d3in2 {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
}

.d4 {
    flex: 1;
    margin: 20px;
    padding: 30px;
    background-color: #2a2a2a;
    border-radius: 15px;
    color: #fff;
}

.btn {
    background-color: #66FCF1;
    border: none;
    padding: 15px 32px;
    font-size: 18px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 30px;
    color: #1F1F1F;
}